		<footer>
			<div class="jumbotron text-center" style="margin-bottom: 0; background-color:#474747;">
				<ul class="list-inline">
					<li><a href="http://www.cs.xjtu.edu.cn/info/2035/1438.htm" class="linkstyle" target="_blank">关于我们</a></li><b class="linkstyle">|</b>
					<li><a href="{:url('index/user/problem_feedback')}" class="linkstyle">问题反馈</a></li><b class="linkstyle">|</b>
					<li><a href="mailto:3066731463@qq.com" class="linkstyle">联系我们</a></li><b class="linkstyle">|</b>
					<li><a href="http://ctec.xjtu.edu.cn" target="_blank" class="linkstyle">Copyright @西安交通大学计算机教学实验中心</a></li>
				</ul>
			</div>
		</footer>
	</body>
</html>