<header>
	<nav class="navbar navbar-inverse" role="navigation">
		<div class="container-fluid">
			<div class="navbar-header">
				<span class="navbar-brand" style="text-align: center;">
					<img src="__STATIC__/img/logo.png" alt="Brand" style="height:100%;">
				</span>
				<span class="navbar-brand">程序设计类课程 | 作业提交系统</span>
			</div>
			<div class="nav navbar-nav navbar-right">
				<ul class="nav navbar-nav">
					<li class="navbar-text" style="margin-right: 30px; color: greenyellow;">
						欢迎您：{$Request.session.realname}
					</li>
					<li class="navbar-text" style="margin-right: 50px; color: greenyellow;">
						学号：{$Request.session.username}
					</li>
					<li>
						<a href="{:url('index/user/index')}"><span class="glyphicon glyphicon-home"></span>首页</a>
					</li>
					<li>
						<a href="{:url('index/user/myinfo')}"><span class="glyphicon glyphicon-user"></span>个人主页</a>
					</li>
					<li>
						<a href="{:url('index/user/change_password')}"><span class="glyphicon glyphicon-wrench"></span>修改密码</a>
					</li>
					<li>
						<a href="{:url('index/user/sign_out')}"><span class="glyphicon glyphicon-log-out"></span>退出</a>
					</li>
				</ul>
			</div>
		</div>
	</nav>
</header>