<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>课程（C/U/R/D）</title>
		{include file="template/link" /}
		<link rel="stylesheet" href="__CSS__/admin/main_page.css">
		
		<script type="text/html" id="imgTpl">
			<img src="__ROOT__/{{d.image}}" style="width: 30px;">
		</script>
		
		<script type="text/html" id="operation_bar">
			<a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
			<a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
		</script>
		
		<script>
			layui.use(['table', 'layer', 'form', 'upload'], function(){
				var table = layui.table;
				var layer = layui.layer;
				var form = layui.form;
				var upload = layui.upload;
				
				table.render({
					elem: '#course'
					,url: '{:url('admin/course/get_course')}'
					,page: true
					,cols: [[
						{field: 'course_id', title: 'ID', hide: true},
						{type: 'numbers', title: '序号', fixed: 'left'},
						{field: 'image', title: '图标', width:80, templet: '#imgTpl'},
						{field: 'course_name', title: '课程名称'},
						{field: 'teacher', title: '任课教师', sort: true},
						{field: 'time', title: '授课时间', sort: true},
						{field: 'compile', title: '编译语言', sort: true},
						{field: 'type', title: '课程类型', sort: true, templet: function(d){
								if (d.type == 'study') {
									return '学习';
								} else if (d.type == 'homework') {
									return '作业';
								} else {
									return '学习和作业';
								}
							}},
						{field: 'announcement', title: '课程公告'},
						{field: 'operation', title: '操作', width: 120, templet: "#operation_bar"}
					]]
					,id: 'course_table'
				});
				
				upload.render({
					elem: '#image_url',
					url: '{:url('admin/course/upload_image')}',
					accept: 'file',
					// exts: 'jpg|png|jpeg',
					done: function(res, index, update){
						if (res['code'] == 1) {
							$("#course_image").val(res['data']['src']);
						} else {
							layer.msg(res.msg);
						}
					},
					error: function(){
						layer.msg('请求异常');
					}
				});
				
				table.on('tool(fun_course)', function(obj) {
					var data = obj.data;
					var layEvent = obj.event;
					if (layEvent === 'edit') {
						var modify = layer.open({
							title : '编辑课程',
							type : 1,
							area : ['600px', '550px'],
							maxmin : true,
							shadeClose : true,
							content : $('#edit_form'),
							btn: ['确定', '取消'],
							success : function(layero, index) {
								$("#course_name").val(data.course_name);
								$("#teacher").val(data.teacher);
								$("#time").val(data.time);
								$("#compile").val(data.compile);
								$("#type").val(data.type);
								$("#announcement").val(data.announcement);
								$("#course_image").val(data.image);
							},
							btn1: function(index, layero){
								layer.confirm('你确定要修改该课程吗?', {icon: 3, title:'提示'}, function(index2){
									$.ajax({
										type: 'POST',
										url: '{:url('admin/course/modify_course')}',
										dataType: 'json',
										data: {course_id: data.course_id, course_name: $("#course_name").val(), teacher: $("#teacher").val(), time: $("#time").val(),
												compile: $("#compile").val(), type: $("#type").val(), announcement: $("#announcement").val(), image: $("#course_image").val()},
										success: function(result) {
											if (result.state == true) {
												table.reload('course_table', {});
												layer.close(modify);
											}
											layer.msg(result.message);
										},
									});
									layer.close(index2);
								});
							}
						});
					} else if (layEvent == 'del') {
						layer.confirm('会删除一切关联数据，你确定要删除该课程吗?', {icon: 3, title:'提示'}, function(index){
							var del = layer.open({
								title : '输入密码',
								type : 1,
								area : ['300px', '180px'],
								maxmin : true,
								shadeClose : true,
								content : $('#pas_form'),
								btn: ['确定', '取消'],
								btn1: function(index, layero){
									$.ajax({
										type: 'POST',
										url: '{:url('admin/course/del_course')}',
										dataType: 'json',
										data: {course_id: data.course_id, password: $("#password").val()},
										success: function(result) {
											if (result.state == true) {
												table.reload('course_table', {});
												layer.close(del);
											}
											layer.msg(result.message);
										},
									});
								}
							});
							layer.close(index);
						});
					}
				});
				
				$("#add").click(function(){
					var add = layer.open({
						title : '添加课程',
						type : 1,
						area : ['600px', '550px'],
						maxmin : true,
						shadeClose : true,
						content : $('#edit_form'),
						btn: ['确定', '取消'],
						btn1: function(index, layero){
							layer.confirm('你确定要添加该课程吗?', {icon: 3, title:'提示'}, function(index2){
								$.ajax({
									type: 'POST',
									url: '{:url('admin/course/add_course')}',
									dataType: 'json',
									data: {course_name: $("#course_name").val(), teacher: $("#teacher").val(), time: $("#time").val(),
											compile: $("#compile").val(), type: $("#type").val(), announcement: $("#announcement").val(), image: $("#course_image").val()},
									success: function(result) {
										if (result.state == true) {
											table.reload('course_table', {});
											layer.close(add);
										}
										layer.msg(result.message);
									},
								});
								layer.close(index2);
							});
						}
					});
				});
				
				$("#copy").click(function(){
					var copy = layer.open({
						title : '复制课程',
						type : 1,
						area : ['500px', '250px'],
						maxmin : true,
						shadeClose : true,
						content : $('#copy_form'),
						btn: ['确定', '取消'],
						btn1: function(index, layero){
							layer.confirm('你确定要复制该课程吗?', {icon: 3, title:'提示'}, function(index2){
								$.ajax({
									type: 'POST',
									url: '{:url('admin/course/copy_course')}',
									dataType: 'json',
									data: {old_course_name: $("#old_course_name").val(), new_course_name: $("#new_course_name").val()},
									success: function(result) {
										if (result.state == true) {
											table.reload('course_table', {});
											layer.close(copy);
										}
										layer.msg(result.message);
									},
								});
								layer.close(index2);
							});
						}
					});
				});

			});
		</script>
	</head>
	<body>
		{include file="template/header" /}
		{include file="template/fun_list" /}
		
		<div class="content">
			<div class="list">
				<div class="row">
					<div class="col-md-6"><h4>课程（C/U/R/D）</h4></div>
					<div class="col-md-1 col-md-offset-4">
						<button id="add" class="layui-btn">新增</button>
					</div>
					<div class="col-md-1">
						<button id="copy" class="layui-btn">复制</button>
					</div>
				</div>
				<div class="row">
					<table id="course" lay-filter="fun_course"></table>
				</div>
			</div>
		</div>
		
		<form class="layui-form" id="pas_form" hidden="hidden" style="padding: 20px 20px 0 20px;">
			<div class="layui-form-item">
				<input type="password" id="password" placeholder="请输入密码" autocomplete="off" class="layui-input">
			</div>
		</form>
		
		<form class="layui-form" id="edit_form" hidden="hidden" style="padding: 20px 20px 0 20px;">
			<div class="layui-form-item">
				<label class="layui-form-label">名称</label>
				<div class="layui-input-block">
					<input type="text" id="course_name" placeholder="请输入课程名称" autocomplete="off" class="layui-input">
				</div>
			</div>
			<div class="layui-form-item">
				<label class="layui-form-label">教师</label>
				<div class="layui-input-block">
					<input type="text" id="teacher" placeholder="请输入任课教师" autocomplete="off" class="layui-input">
				</div>
			</div>
			<div class="layui-form-item">
				<label class="layui-form-label">时间</label>
				<div class="layui-input-block">
					<input type="text" id="time" placeholder="请输入授课时间" autocomplete="off" class="layui-input">
				</div>
			</div>
			<div class="layui-form-item">
				<label class="layui-form-label">语言</label>
				<div class="layui-input-block">
					<select id="compile" lay-verify="required">
						<option value="">请选择编译语言</option>
						<option value="gcc">gcc</option>
						<option value="g++">g++</option>
						<option value="python">python</option>
					</select>
				</div>
			</div>
			<div class="layui-form-item">
				<label class="layui-form-label">类型</label>
				<div class="layui-input-block">
					<select id="type" lay-verify="required">
						<option value="">请选择课程类型</option>
						<option value="study">学习</option>
						<option value="homework">作业</option>
						<option value="both">学习和作业</option>
					</select>
				</div>
			</div>
			<div class="layui-form-item">
				<label class="layui-form-label">公告</label>
				<div class="layui-input-block">
					<input type="text" id="announcement" placeholder="请输入课程公告" autocomplete="off" class="layui-input">
				</div>
			</div>
			<div class="layui-form-item">
				<label class="layui-form-label"><button type="button" class="layui-btn" id="image_url">上传图片</button></label>
				<div class="layui-input-block">
					<input type="text" id="course_image" placeholder="请选择文件" autocomplete="off" class="layui-input" readonly="true">
				</div>
			</div>
		</form>
		
		<form class="layui-form" id="copy_form" hidden="hidden" style="padding: 20px 20px 0 20px;">
			<div class="layui-form-item">
				<label class="layui-form-label">旧课程</label>
				<div class="layui-input-block">
					<input type="text" id="old_course_name" placeholder="请输入要复制的课程名称" autocomplete="off" class="layui-input">
				</div>
			</div>
			<div class="layui-form-item">
				<label class="layui-form-label">新课程</label>
				<div class="layui-input-block">
					<input type="text" id="new_course_name" placeholder="请输入新课程名称" autocomplete="off" class="layui-input">
				</div>
			</div>
		</form>
	</body>
</html>