<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>问题列表</title>
		{include file="template/link" /}
		<link rel="stylesheet" href="__CSS__/course.css">
	</head>
	<body>
		{include file="template/header" /}
		<main>
			<div class="container">
				<h4>当前位置：
					<a href="{:url('index/homework/index')}">{$location}</a> &nbsp; > &nbsp;
					<a href="{:url('index/homework/chapter', 'course_id=' . $chapter.course_id)}">课程：{$course.course_name}</a> &nbsp; > &nbsp;
					<a href="{:url('index/homework/cluster', 'chapter_id=' . $chapter.chapter_id)}">第{$chapter.chapter_num}章：{$chapter.chapter_name}</a> &nbsp; > &nbsp;
					关卡{$cluster} &nbsp; > &nbsp; <font color="#666666">问题列表</font>
				</h4>
				
				<div class="list" style="margin-bottom: 20px; padding: 20px 50px 20px 50px;">
					<div class="row" style="padding: 10px 20px 20px 20px; background-color: #ffffff;">
						<div class="table-responsive">
							<table class="table table-striped">
								<caption><h3 class="text-center">问题列表</h3>请按顺序通过各关卡</caption>
								<thead>
									<tr>
										<th>序号</th>
										<th>问题id</th>
										<th>问题名称</th>
										<th>状态/分数</th>
									</tr>
								</thead>
								<tbody>
									{volist name="answer" id="data"}
										<tr>
											<td>问题{$i}</td>
											<td>
												<a href="{:url('index/homework/submit', ['chapter_id' => $chapter.chapter_id, 'cluster_id' => $cluster, 'qid' => $data['qid']])}">
													P{$data['qid']}
												</a>
											</td>
											<td>
												<a href="{:url('index/homework/submit', ['chapter_id' => $chapter.chapter_id, 'cluster_id' => $cluster, 'qid' => $data['qid']])}">
													{$question[$data['qid']]};
												</a>
												</td>
											<td>
												<font size="3">
													{if condition="empty($data['score'])"} <span class="badge">新问题</span>
													{elseif condition="$data['score'] eq 'zero'"/}<span style="color:red;">0</span>
													{elseif condition="$data['score'] eq '100'"/}<span style="color:green;">100</span>
													{else /} <span style="color:red;">{$data['score']}</span>
													{/if}
												</font>
											</td>
										</tr>
									{/volist}
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</main>
	{include file="template/footer" /}