<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>找回密码</title>
		{include file="template/link" /}
		<link rel="stylesheet" href="__CSS__/get_back_password.css">
		<script src="__STATIC__/dependency/layer/layer.js"></script>
		<script src="__JS__/get_back_password.js" type="text/javascript"></script>
		<script type="text/javascript">
			var postUrl1 = '{:url("index/index/get_user_question")}';
			var postUrl2 = '{:url("index/index/get_back_password")}';
		</script>
	</head>
	<body>
		<header>
			<div class="col-md-11">
				<h3 class="tag">程序设计类课程 | 作业提交系统</h3>
			</div>
			<a href="{:url('index/index/login')}"><h3><span class="glyphicon glyphicon-log-in"></span>登录</h3></a>
		</header>
		<main>
			<div class="container">
				<div class="row">
					<div class="col-md-4 col-md-offset-4">
						<form role="form" id="InfoForm">
							<h2 class="text-center">找回密码</h2>
							<div class="form-group">
								<label for="username"><sup><font color="red">*</font></sup>用户名</label></br>
								<input type="text" name="username" id="username" class="form-control" onblur="checkUsername()" placeholder="请输入用户名" autocomplete="off">
								<font color='red' size='3'><span id="nameErr"></span></font>
							</div>
							<div class="form-group">
								<label for="question">密保问题</label></br>
								<textarea class="form-control" id="question" rows="3" readonly="readonly"></textarea>
							</div>
							<div class="form-group">
								<label for="answer"><sup><font color="red">*</font></sup>密保答案</label></br>
								<input type="text" name="answer" id="answer" class="form-control" placeholder="请输入密保答案" autocomplete="off">
							</div>
							<div class="form-group">
								<label for="password"><sup><font color="red">*</font></sup>新密码</label></br>
								<input type="password" name="password" id="password" class="form-control" placeholder="请输入5-15位密码" autocomplete="off">
							</div>
							<div class="form-group">
								<label for="password2"><sup><font color="red">*</font></sup>确认密码</label></br>
								<input type="password" name="password2" id="password2" class="form-control" placeholder="请保证两次输入一致" autocomplete="off">
							</div>
							<div class="form-group" style="text-align: center; margin-bottom: 0;">
								<input type="button" id = "submitButton" value="提交" class="btn btn-primary buttonwidth">
							</div>
							<div class="form-group" style="text-align: center; margin-bottom: 10px">
								<font color='red' size='3'><span id="Error"></span></font>
							</div>
						</form>
					</div>
				</div>
			</div>
		</main>
		<footer>
			<div class="jumbotron text-center" style="margin-bottom: 0">
				<ul class="list-inline">
					<li><a href="http://www.cs.xjtu.edu.cn/info/2035/1438.htm" target="_blank">关于我们</a></li><b>|</b>
					<li><a href="{:url('index/user/problem_feedback')}">问题反馈</a></li><b>|</b>
					<li><a href="mailto:3066731463@qq.com">联系我们</a></li><b>|</b>
					<li><a href="http://ctec.xjtu.edu.cn" target="_blank">Copyright @西安交通大学计算机教学实验中心</a></li>
				</ul>
			</div>
		</footer>
	</body>
</html>