<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>退出系统</title>
		{include file="template/link" /}
	</head>
	<body>
		<header>
			<nav class="navbar navbar-inverse" role="navigation">
				<div class="container-fluid">
					<div class="navbar-header">
						<span class="navbar-brand" style="text-align: center;">
							<img src="__STATIC__/img/logo.png" alt="Brand" style="height:100%;">
						</span>
						<span class="navbar-brand">程序设计类课程 | 作业提交系统</span>
					</div>
					<div class="nav navbar-nav navbar-right">
						<ul class="nav navbar-nav">
							<li>
								<a href="{:url('index/index/register')}" style="margin-right: 30px;"><span class="glyphicon glyphicon-user"></span>注册</a>
							</li>
							<li>
								<a href="{:url('index/index/login')}" style="margin-right: 30px;"><span class="glyphicon glyphicon-log-in"></span>登录</a>
							</li>
						</ul>
					</div>
				</div>
			</nav>
		</header>
		<main>
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="row">
							<img src="__STATIC__/img/thank.jpg" class="img-responsive center-block" style="margin-bottom: 70px;">
						</div>
					</div>
				</div>
			</div>
		</main>
		<footer class="navbar-fixed-bottom">
			<div class="jumbotron text-center" style="margin-bottom: 0; background-color: #474747;">
				<ul class="list-inline">
					<li style="margin: 0 15px 0 15px; font-size: 16px;"><a href="http://www.cs.xjtu.edu.cn/info/2035/1438.htm" target="_blank" style="color: white;">关于我们</a></li><b style="color: white;">|</b>
					<li style="margin: 0 15px 0 15px; font-size: 16px;"><a href="{:url('index/user/problem_feedback')}" style="color: white;">问题反馈</a></li><b style="color: white;">|</b>
					<li style="margin: 0 15px 0 15px; font-size: 16px;"><a href="mailto:3066731463@qq.com" style="color: white;">联系我们</a></li><b style="color: white;">|</b>
					<li style="margin: 0 15px 0 15px; font-size: 16px;"><a href="http://ctec.xjtu.edu.cn" target="_blank" style="color: white;">Copyright @西安交通大学计算机教学实验中心</a></li>
				</ul>
			</div>
		</footer>
	</body>
</html>