<div class="sidenav">
	<h3 class="text-center" style="margin-bottom: 30px;">功能列表</h3>
	<h4 style="padding-left: 10px;">课程相关</h4>
	<ul class="list-group" style="margin-bottom: 30px;">
		<a href="{:url('admin/course/index')}" class="list-group-item">课程（C/U/R/D）</a>
		<a href="{:url('admin/chapter/index')}" class="list-group-item">章节（C/U/R/D）</a>
		<a href="{:url('admin/knowledge/index')}" class="list-group-item">知识点（C/U/R/D）</a>
		<a href="{:url('admin/question/index')}" class="list-group-item">问题（C/U/R/D）</a>
		<a href="{:url('admin/section/index')}" class="list-group-item">课节（C/U/R/D）</a>
	</ul>
	
	<h4 style="padding-left: 10px;">学生相关</h4>
	<ul class="list-group" style="margin-bottom: 30px;">
		<a href="{:url('admin/student/index')}" class="list-group-item">学生（C/U/R/D）</a>
		<a href="{:url('admin/score/index')}" class="list-group-item">学生成绩</a>
		<a href="{:url('admin/load/index')}" class="list-group-item">学生登录情况</a>
	</ul>
	
	<h4 style="padding-left: 10px;">其他设置</h4>
	<ul class="list-group" style="margin-bottom: 40px;">
		<a href="{:url('admin/setting/index')}" class="list-group-item">重要参数配置</a>
		<a href="#" class="list-group-item">参考文档</a>
	</ul>
</div>